.App {
  text-align: center;
}

.btn-fixed-bottom{
  position: absolute;
  bottom: 50px;
}

.right-5{
  right: 50px;
}

.left-5{
  left: 50px;
}

.margin-15{
  margin: 0 0 15px 0;
}

.category-item{
  font-family: 'Roboto';
  color: #999999;
  font-size: 2em;
  padding: 10px;
  text-transform: uppercase; 
}

.category-item-active{
  color: #e74c3c;
}

.btn-vote{
  padding: 0 1rem;
}

.btn-edit, .btn-remove{
  padding: 0 0.6rem;
}

.btn-edit a{
  color: #333;
}

.span-info{
  font-size: .8rem;
  color: #9e9e9e;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
