.App {
  text-align: center;
}

.btn-fixed-bottom{
  position: absolute;
  bottom: 50px;
}

.right-5{
  right: 50px;
}

.left-5{
  left: 50px;
}

.category-item{
  font-family: 'Roboto';
  color: #999999;
  font-size: 2em;
  padding: 10px;
  text-transform: uppercase; 
}

.category-item-active{
  color: #e74c3c;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
